*{
    text-align: center;
}

h1{
    margin-top: 0.5%;
    margin-bottom: 15%;
}

form{
    border: 0.01rem solid;
    border-color: darkorange;
    padding: 1%;
    width: 13%;
    margin: auto;
    background-color:rgb(247, 255, 255);
}

#button{
    margin-top: 5%;
}

input{
    text-align: start;
}